.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.image2 {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.image {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.image img {
  filter: hue-rotate(200deg) grayscale(30%) invert(10%);
}

.image3 {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.image3 img {
  filter: hue-rotate(150deg);
}

.atarihazureText {
  font-size: 35px;
  margin: 50vh 100px;
}

.BG {
  width: 100vw;
  height: 800px;

  /* 背景画像を表示 */
  background-image: url(../images/879604.jpg);

  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 28px;
  padding-right: 28px;
}

/* モバイルデバイス用 */
.BG.mobile {
  background-size: cover;
}

/* PC用 */
.BG.pc {
  background-size: contain;
}